body,
html,
#app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}


#app {
  margin: 0 auto;
  padding: 0 0 0 0;
  text-align: center;
}